<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/header')%>

  <body class="nav-on-header smart-nav">
    <%-include('../partials/menu') %>
    <header class="page-header bg-img" style="background-image: url(http://localhost:8000/static/assets/img/bg-banner1.jpg);">
      <div class="container page-name">
        <h1 class="text-center">Browse jobs</h1>
        <p class="lead text-center">Use following search box to find jobs that fits you better</p>
      </div>

      <div class="container">
        <form action="/jobs" method="get">
          <div class="row">
           <div class="form-group col-xs-12 col-sm-4">
              <select name="category" class="form-control selectpicker">
                <option disabled selected>categories</option>
                <% categories.forEach((cat) => { %>
                  <option value="<%= cat.id %>"><%= cat.name%></option>
                  <% })%>
              </select>
      
            </div>

         


            <div class="form-group col-xs-12 col-sm-4">
              <h6>Academic degree</h6>
              <div class="checkall-group">
                <div class="checkbox">
                  <input type="checkbox" id="degree1" name="degree" disabled >
                  <label for="degree1">All degrees</label>
                </div>
                <div class="radio">
                  <input value="smp" type="radio" id="degree2" name="degree">
                  <label for="degree2">SMP </label>
                </div>

                <div class="radio">
                  <input value="sma" type="radio" id="degree2" name="degree">
                  <label for="degree2">SMA </label>
                </div>

                <div class="radio">
                  <input value="s1" type="radio" id="degree2" name="degree">
                  <label for="degree2">S1 </label>
                </div>

                <div class="radio">
                  <input value="s2" type="radio" id="degree3" name="degree">
                  <label for="degree3">S2 </label>
                </div>

                <div class="radio">
                  <input value="s3" type="radio" id="degree4" name="degree">
                  <label for="degree4">S3</label>
                </div>
              </div>
            </div>

          </div>

          <div class="button-group">
            <div class="action-buttons">
              <button class="btn btn-primary">Apply filter</button>
            </div>
          </div>

        </form>

      </div>

    </header>
    <main>
      <section class="no-padding-top bg-alt">
        <div class="container">
          <div class="row">

           
          <% jobs.forEach((job) => { %>

            <div class="col-xs-12">
                <a class="item-block" href="jobs/<%= job.id%>">
                  <header>
                    <img src="http://localhost:8000/static/assets/img/logo-google.jpg" alt="">
                    <div class="hgroup">
                      <h4><%= job.name%></h4>
                      <h5><%= job.Company.name%></h5>
                    </div>
                   
                  </header>
  
                  <div class="item-body">
                    <p><%= job.desciption%></p>
                  </div>
  
                  <footer>
                    <ul class="details cols-3">
                      <li>
                        <i class="fa fa-map-marker"></i>
                        <span><%= job.location%></span>
                      </li>
  
                      <li>
                        <i class="fa fa-money"></i>
                        <span>Rp.  <%= job.salary%> / Month</span>
                      </li>
  
                      <li>
                        <i class="fa fa-certificate"></i>
                        <span><%= job.academic%></span>
                      </li>
                    </ul>
                  </footer>
                </a>
              </div>

       <%   })%>
           

          </div>


          <!-- Page navigation -->
          <nav class="text-center">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <i class="ti-angle-left"></i>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <i class="ti-angle-right"></i>
                </a>
              </li>
            </ul>
          </nav>
          <!-- END Page navigation -->

        </div>
      </section>
    </main>
    <%- include('../partials/footer')%>
  </body>
</html>
