<!DOCTYPE html>
<html lang="en">
 <%- include('partials/header')%>

  <body class="nav-on-header smart-nav">

    <%-include('partials/menu') %>

    <header class="site-header size-lg text-center" style="background-image: url()">
      <div class="container">
        <div class="col-xs-12">
          <br><br>
          <h2>We offer  job vacancies right now!</h2>
          <h5 class="font-alt">Find your desire one in a minute</h5>
          <br><br><br>
          <form method="get" action="/jobs" class="header-job-search">
            <div class="">
              <input name="name" type="text" class="form-control" placeholder="Job title">
            </div>    
            <br>   <br>

            <button class="btn btn-primary" type="submit">Find jobs</button>          
          
          </form>
        </div>

      </div>
    </header>
  
    <main>



      <!-- Recent jobs -->
      <section>
        <div class="container">
          <header class="section-header">
            <span>Latest</span>
            <h2>Recent jobs</h2>
          </header>

          <div class="row item-blocks-connected">
            <% jobs.forEach((job) => { %>
              <div class="col-xs-12">
                  <a class="item-block" href="jobs/<%= job.id%>">
                    <header>
                      <img src="http://localhost:8000/static/uploads/photos/cmp.png" alt="">
                      <div class="hgroup">
                        <h4><%= job.name%></h4>
                        <h5><%= job.Company.name%></h5>
                      </div>
                      <div class="header-meta">
                        <span class="location"><%= job.location %></span>
                      </div>
                    </header>
                  </a>
                </div>
           <% }) %>
           
            

          

          </div>

          <br><br>
          <p class="text-center"><a class="btn btn-info" href="/jobs">Browse all jobs</a></p>
        </div>
      </section>
      <!-- END Recent jobs -->


   


    </main>
    <%- include('partials/footer')%>
  </body>
</html>
